@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Oswald:wght@400;700&display=swap');

img {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%) translateY(-70%);
  width:100%;
  height:300px;
}

@keyframes moving {
    0%{
        width: 100px;
        height: 100px;
    }

    50%{
        width: 800px;
        height: 800px;
    }

    100%{
        width: 500;
        height: 500;
    }
}

audio {
  top: -35%;
  left: 50%;
}